  {% extends './base.html' %}
  {% block content %}
  <br>
  <div class="container">

<!--Сообщения-->
{% include './block/messages.html' %}

    <h4 align="center">Информация по пропуску</h4>
    <br>
  <form class="form-control" method="post" action="{% url 'sp_get_amcom' %}"> 
  {% csrf_token %}
    <div class="row g-2">
      <div class="col-sm-4">
        {{ form.fcard }}
      </div>
        <div class="col-sm-2">
          {{ form.ncard }}
      </div>
        <div class="col-sm-2">
          {{ form.scard }}
      </div>
      <div class="col-sm-6">
        {% if user.is_authenticated %}
        <button class="btn btn-primary" type="submit">Запрос</button>
        {% endif %}
      </div>
</form>
  </div>
<br>
<br>
    <div class="container">

      <div class="table-responsive">
      <table class="table table-bordered border-primary table-hover">
        <thead>
        <tr class="table-primary">
            <th>Статус</th>
            <th>Табельный Номер</th>
            <th>ФИО</th>
            <th>Сумма кредита</th>
        </tr>
        </thead>
        <tbody>
          {% for drink in page_obj %}
          <tr>
            <td>{{ drink.status }}</td>
            <td>{{ drink.ntab }}</td>
            <td>{{ drink.fio }}</td>
            <td>{{ drink.amcom }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}

{% block pagination %}

<div class="container">

    <nav aria-label="Paginate me">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link disabled" href="#" tabindex="-1">Предыдущая</a>
        </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
          <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Следующая</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <br>

</div>
{% endblock %}