{% load static %}
<div class="container">    
   
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <div class="container-fluid">
        <!--<a class="navbar-brand" href="#">Система доступа</a>-->
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/icon96.svg' %}" alt="" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Операции
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'sp_get_amcom' %}">Информация по пропуску</a></li>
                <li><a class="dropdown-item" href="{% url 'sp_get_talon' %}">Информация по питанию</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'sp_accept_amcom_pay' %}">Запись продаж</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex">
            <nav class="navbar navbar-dark bg-primary">
                <form class="container-fluid justify-content-start">
                  {% if not user.is_authenticated %}
                  <a href="{% url 'signin' %}" class="btn btn-outline-light me-2">Вход</a>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <a href="{% url 'signout' %}" class="btn btn-outline-light me-2">Выход</a>
                  {% endif %}
                </form>
              </nav>
          </form>
        </div>
      </div>
    </nav>
    </div>
    